[Desktop Entry]
X-AppInstall-Package=vim-common
X-AppInstall-Popcon=25380
X-AppInstall-Section=main

Name=NeoVim
GenericName=Text Editor
Comment=21st Century Text Editor
TryExec=nvim
Encoding=UTF-8
Exec=nvim %F
Terminal=true
Type=Application
Icon=neovim-mark-128
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/plain;
Version=0.1.5-dev

X-Ubuntu-Gettext-Domain=app-install-data
